* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}
:root {
  --color-background: #fff;
  --color-text: #000;
  --color-primary: #3333;
  --color-secondary: #828282;
}
.storePage {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (min-width: 1391px) {
  .storePage {
    width: 70%;
  }
}
